.bed-management-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;

  .bed-grid {
    display: flex;
    border-radius: 8px;
    width: 100%;
    position: relative;

    .room-numbers-column {
      position: sticky;
      left: 0;
      z-index: 2;
      background: white;
      flex-shrink: 0;

      .room-number {
        height: 100px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
      }
    }

    .scrollable-content {
      overflow-x: auto;
      flex: 1;
      width: 0;
      min-width: 0;

      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
      }
    }

    .header-row,
    .room-row {
      display: flex;
      position: relative;
    }

    .scrollable-dates,
    .scrollable-beds {
      display: flex;
    }

    .date-header {
      min-width: 110px;
      text-align: center;
      padding: 10px;
      font-weight: 500;
    }

    .bed-cell {
      min-width: 100px;
      height: 80px;
      border: 1px solid #ffd7b5;
      border-radius: 8px;
      margin: 5px;
      padding: 10px;

      .bed-group {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;

        .bed-icon {
          width: 23px;
          height: 23px;
          margin: 0 5px;
        }
      }
    }

    .room-row {
      .scrollable-beds {
        display: flex;
        align-items: center;
      }
    }
  }
}

.three-bed-layout {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .top-row {
    display: flex;
    gap: 4px;
  }

  .bottom-row {
    display: flex;
  }
  .bed-icon {
    width: 23px;
    height: 23px;
    margin: 0 6px;
  }
}
