.Requests-main-container {
    .requests-cards-section {
        display: flex;
        flex-wrap: wrap;
        
        gap: 10px; // Add spacing between cards
   
        .requests-card {
            box-sizing: border-box;
            min-height: 280px;
            height: auto;
            border-radius: 24px;
            border: 2px solid #D9D9D9;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 510px;
            max-width: 510px;
            flex: 1 auto;
            
            cursor: pointer !important;

            .actions-button {
                img {
                    margin-right: 20px;
                    cursor: pointer !important;
                }

            }

            .request-details {
                display: flex;
                gap: 30px;
                padding-left: 10px;
                

                .request-user-imag {
                    text-align: center;

                    img {
                        width: 80px;
                        height: 80px;

                    }

                    p {
                        font-size: 25px;
                        font-weight: 600;
                        position: relative;
                        top: -10px;
                        font-family: Lexend;
                    }
                }

                .reasons {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    p {
                        font-family: Lexend;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 18.75px;
                        color: #000000;

                     
                    }
                }

            }

            .buttons {
                display: flex;
                gap: 10px;
                justify-content: end;
                margin-top: 30px;
            }
        }
    }
}